<div class="center-text">
  <h1>
    Picadito Builder
  </h1>

  <form id="player-form" class="form-inline">
    <div id="playerNameField" class="form-group">
      <input #playerNameInput
        type="text" class="form-control" 
        placeholder="Player Name"
        [(ngModel)]="newPlayer.name"
        (keyup.enter)="addNewPlayer()"
        name="name" autofocus>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary"
          (click)="addNewPlayer(); playerNameInput.focus()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </form>
  <div class="players-list centered">
    <ol>
      <li *ngFor="let player of players">{{player.name}}</li>
    </ol>
  </div>
  <button type="button" (click)="generateTeams()" class="btn btn-secondary">
    <i class="fas fa-dice"></i>
  </button>

  <div class="centered">
    <div *ngIf="team1.length" class="col-md-6 team-list">
      <h4>Team 1</h4>
      <ol>
        <li *ngFor="let player of team1">{{player.name}}</li>
      </ol>
    </div>

    <div *ngIf="team2.length" class="col-md-6 team-list">
      <h4>Team 2</h4>
      <ol>
        <li *ngFor="let player of team2">{{player.name}}</li>
      </ol>
    </div>
  </div>
</div>